alias ls='exa --color=auto'
alias la='exa -a'
alias ll='exa -alh'
alias cp='cpg -g'
alias mv='mvg -g'
alias rm='rm -v'
alias mkdir='mkdir -v'
alias k='tree'
alias vi='vim'
alias sudo='sudo '
alias c='clear'
alias gksu='pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY'
alias yy='yay'
alias cat='bat'
alias grep='grep --color=auto'
alias diff='diff --color=auto'
